html {
	color: #2d2d2d;
	background: #eee;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-user-select: none;
	/* IE 10+ */
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body, button, input, select, textarea {
	font: 14px/1.5 arial, \5b8b\4f53;
}

img {
	display: block;
}

input, select, textarea {
	font-size: 100%;
	-webkit-appearance: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: inherit;
}

fieldset, img {
	border: 0;
}

del {
	text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: 500;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500;
}

q:before, q:after {
	content: '';
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

a:hover, a:active {
	text-decoration: none;
}

ins, a {
	text-decoration: none;
}

.none {
	display: none;
}

/* add start */
.panel {
	border-radius: 10px;
	border: 0px solid transparent;
	margin-bottom: 0px;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #fff;
}

.panel-default>.panel-body {
	color: #333;
	background-color: #EAEFF2;
	border-color: #EAEFF2;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 0px solid transparent;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.panel-heading-img {
	padding: 10px 15px;
	border-bottom: 0px solid transparent;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.panel-heading-img2 {
	padding: 0px 15px;
	border-bottom: 0px solid transparent;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.panel-body {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #EAEFF2;
}

a.list-group-item {
	color: #000;
}

.chevron-right {
	float: right;
}

.list-group-item-info {
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #EAEFF2;
	border: 1px solid #EAEFF2;
}

.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
	border-bottom: 1px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.list-group-font>li>span {
	color: #9FAFBA;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-use {
	color: #fff;
	background-color: #FF0075;
	border-color: #FF0075;
	width: 80%;
	font-size: 16px;
}

.btn:hover, .btn:focus, .btn.focus {
	color: #333;
	text-decoration: none;
}

.btn:hover, .btn:focus, .btn-use.focus {
	color: #fff;
	text-decoration: none;
}

.panel-footer {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
}

.list-group-item-1 {
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #EAEFF2;
	border-bottom: 0px;
}

.list-group-item-t {
	position: relative;
	display: block;
	padding: 4px 6px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 0px solid #EAEFF2;
	font-size: 16px;
	color: #A8B4c0;
}

.h4 {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 17px;
}

.m-t-sm {
	font-size: 16px;
	color: #A8B4c0;
}

.list-group {
	padding-left: 0;
	margin-bottom: 0px;
}

.thumb-sm {
	font-size: 20px;
	color: #FF0075;
}

.media-body {
	padding-top: 2px;
}

.no-border, .no-borders {
	border-color: transparent;
	border-width: 0;
}

.form-control, .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control {
	width: 90%;
	font-size: 20px;
	padding: 6px 10px;
	color: #4a4a4a;
}

.list-group-item-input {
	position: relative;
	display: block;
	padding: 10px 0px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0);
	border: 0px solid #EAEFF2;
	border-top-width: 1px;
	border-bottom-width: 1px;
	width: 80%;
	left: 10%;
	top: -10px;
}

.thumb-sm-input {
	font-size: 20px;
	color: #999;
	padding-top: 3px;
}

.about-wevip {
	font-size: 14px;
	color: #FFF;
}

.about-wevip:hover, .about-wevip:focus {
	color: #FFF;
}

.panel-list {
	border-radius: 0px;
	border: 0px solid transparent;
	margin-bottom: 0px;
}

.list-group-item-card {
	position: relative;
	padding: 0px 0px;
	display: table;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	table-layout: fixed;
	background-color: #fe487f;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 15px;
}
.card-8{
    background-color:#ebeff3!important;
}

.media-body-card-list {
	padding-top: 2px;
	background-color: #EAEFF2;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.hbox {
	display: table;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	table-layout: fixed;
	background-color: #EAEFF2;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 15px;
}

.col {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	/* box-shadow: 0px 3px 0px 0px #C3C3C3 ; */
	background: url(../img/phone/border.png) repeat-x bottom;
	background-size: 1px 4px;
    padding:0;
}

.col-left {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	/* box-shadow:0px 3px 0px 0px  #B3B6B9; */
	background: url(../img/phone/border.png) repeat-x bottom;
	background-size: 1px 4px;
	width: 100%;
}

.card-name {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 17px;
	margin-left: 10px;
}

.m-t-sm-list {
	font-size: 20px;
	/*color: #9FAFBA;*/
    color:#fff;
}
.card-8 .m-t-sm-list{
    color:#9FAFBA;
}

.m-t-m-list {
	font-size: 12px;
    color:#fff;
}
.card-8 .m-t-m-list{
    color:#9FAFBA;
}


.list-group-item-card-used {
	position: relative;
	padding: 0px 0px;
	display: table;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	table-layout: fixed;
	background-color: #FFD067;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 15px;
}

.m-t-sm-list-used {
	font-size: 20px;
	color: #FFF;
}

.m-t-m-list-used {
	font-size: 12px;
	color: #FFF;
}

.tag {
	position: absolute;
	right: 0;
	z-index: 999;
}

.tag>img {
	width: 53px;
    height: 51px;
}
