<ion-view view-title="home" class="item-phone">
  <ion-content scroll="false">

<div style="padding: 20px;">

		<div class="panel panel-default">
            
				<div class="text-center wrapper m-b-sm">
					<div style="padding: 35px 0px;">
                        <img ng-src="{{followDetail.follow_url}}" alt="" id="notice_img" style="width: 70px;height: 70px;margin: auto;">
					</div>

				</div>


            <!--/panel-->
            </div>
		    	<div class="panel-body">
				<div class="text-center wrapper m-b-sm">
					<div style="padding: 10px 0px;">
						<ul class="list-group-sm list-group-sp list-group-alt auto m-t list-group-font">
                            <li class="list-group-item-info"><span class="text-muted" style="font-size: 20px;">长按图片识别二维码关注</span></li>
                            
						</ul>
					</div>
				</div>
			</div>
			

		</div>
		<div style="padding-bottom: 20px;background-color: #EAEFF2;border-bottom-right-radius: 10px;     border-bottom-left-radius: 10px;"></div>



			<div class="fixed none">
			<div class="returnbt none">返回</div>
			<div class="cancelbt none">取消</div>
			<div class="deletebt">删除</div>
		</div>
	</div>
	<div class="red ">
		<ul>
		</ul>
	</div>

	<footer> </footer>

	
	<!--yao_public_model静态弹窗 begin-->

	
  </ion-content>
</ion-view>









<ion-view view-title="home" class="item-phone">
  <ion-content scroll="false">

<div style="padding: 20px;">

		<div class="panel panel-default">
            <div  class="panel-heading-img" style="height: 20px;background-size: cover">
            </div>
                <div class="panel-heading">
				<div class="text-center wrapper m-b-sm">
					<div style="padding: 35px 0px;">
                        
					</div>

				</div>


            <!--/panel-->
            </div>
		    	<div class="panel-body">
				<div class="text-center wrapper m-b-sm">
					<div style="padding: 10px 0px;">
						<ul class="list-group-sm list-group-sp list-group-alt auto m-t list-group-font">
                            <li class="list-group-item-info"><span class="text-muted" style="font-size: 20px;">微卡最美生活</span></li>
							<li class="list-group-item-info" style="padding: 20px 0;">
                                <div style="margin: 6px auto;width: 150px;">
                                    <img ng-src="{{followDetail.follow_url}}" alt="" id="notice_img" style="width:150px;height:150px;margin: auto;">
                                </div>
                             
							</li>
                            <li class="list-group-item-info"><span class="text-muted">扫描上面二维码关注</span></li>
						</ul>

					</div>
				</div>
			</div>
			

		</div>
		<div style="padding-bottom: 20px;background-color: #EAEFF2;border-bottom-right-radius: 10px;     border-bottom-left-radius: 10px;"></div>



			<div class="fixed none">
			<div class="returnbt none">返回</div>
			<div class="cancelbt none">取消</div>
			<div class="deletebt">删除</div>
		</div>
	</div>
	<div class="red ">
		<ul>
		</ul>
	</div>

	<footer> </footer>

	<div class="pop confirm none">
		<p>是否清空失效优惠券？</p>
		<div>
			<div class="sure">确认</div>
			<div class="cancel">取消</div>
		</div>
	</div>
	<!--yao_public_model静态弹窗 begin-->

	
  </ion-content>
</ion-view>

